<div class="simple-features-section page-width">
  <ul class="simple-feature-list">
    <li>
      <img src="{{ section.settings.icon_1 | image_url: width: 28 }}" alt="Icon">
      <p>{{ section.settings.text_1 }}</p>
    </li>
    <li>
      <img src="{{ section.settings.icon_2 | image_url: width: 28 }}" alt="Icon">
      <p>{{ section.settings.text_2 }}</p>
    </li>
    <li>
      <img src="{{ section.settings.icon_3 | image_url: width: 28 }}" alt="Icon">
      <p>{{ section.settings.text_3 }}</p>
    </li>
    <li>
      <img src="{{ section.settings.icon_4 | image_url: width: 28 }}" alt="Icon">
      <p>{{ section.settings.text_4 }}</p>
    </li>
    <li>
      <img src="{{ section.settings.icon_5 | image_url: width: 28 }}" alt="Icon">
      <p>{{ section.settings.text_5 }}</p>
    </li>
  </ul>

  <p class="bottom-text">{{ section.settings.bottom_text }}</p>
</div>

{% schema %}
{
  "name": "Simple Features",
  "settings": [
    {
      "type": "image_picker",
      "id": "icon_1",
      "label": "Icon 1"
    },
    {
      "type": "text",
      "id": "text_1",
      "label": "Text 1"
    },
    {
      "type": "image_picker",
      "id": "icon_2",
      "label": "Icon 2"
    },
    {
      "type": "text",
      "id": "text_2",
      "label": "Text 2"
    },
    {
      "type": "image_picker",
      "id": "icon_3",
      "label": "Icon 3"
    },
    {
      "type": "text",
      "id": "text_3",
      "label": "Text 3"
    },
    {
      "type": "image_picker",
      "id": "icon_4",
      "label": "Icon 4"
    },
    {
      "type": "text",
      "id": "text_4",
      "label": "Text 4"
    },
    {
      "type": "image_picker",
      "id": "icon_5",
      "label": "Icon 5"
    },
    {
      "type": "text",
      "id": "text_5",
      "label": "Text 5"
    },
    {
      "type": "textarea",
      "id": "bottom_text",
      "label": "Bottom Text"
    }
  ],
  "presets": [
    {
      "name": "Simple Features",
      "category": "Custom"
    }
  ]
}
{% endschema %}
